.wrap {
    width: 1200px;
    margin: 0 auto;
    border: 4px double black;
    padding: 10px;
}

.wrapper, .posts {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 4px double black;

}