.userInfo {
    display: flex;
    justify-content: space-between;


    padding: 50px;
}
.user {
    display: flex;
    align-items: center;
}
.wrap {

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.userWrap {
    border: 4px double black;
    border-radius: 20px;
}
.posts {
    column-gap: 10px;
    border: 2px black solid;
    padding: 20px;
}
